<div class="flex justify-center items-center min-h-screen p-4">
  <mat-card
    class="w-full sm:w-[25rem] max-h-[50rem] p-4 relative overflow-hidden"
  >
    <mat-card-header>
      <h5>Profile information</h5>
    </mat-card-header>
    <mat-card-content>
      <div
        *ngIf="loading$ | async"
        class="absolute inset-0 bg-black bg-opacity-50 z-10"
      ></div>

      <form (ngSubmit)="onSubmit()" [formGroup]="editProfileForm">
        <mat-form-field class="w-full">
          <mat-label>First name</mat-label>
          <input
            matInput
            formControlName="firstName"
            placeholder="Enter your first name"
          />
          <div
            *ngIf="!isFieldValid('firstName')"
            class="text-red-600 text-sm mt-1"
          >
            <span *ngIf="editProfileForm.get('firstName')?.hasError('required')"
              >First name is required.</span
            >
          </div>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Last name</mat-label>
          <input
            matInput
            formControlName="lastName"
            placeholder="Enter your last name"
          />
          <div
            *ngIf="!isFieldValid('lastName')"
            class="text-red-600 text-sm mt-1"
          >
            <span *ngIf="editProfileForm.get('lastName')?.hasError('required')"
              >Last name is required.</span
            >
          </div>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="Enter your email"
          />
          <div *ngIf="!isFieldValid('email')" class="text-red-600 text-sm mt-1">
            <span *ngIf="editProfileForm.get('email')?.hasError('required')"
              >Email is required.</span
            >
            <span
              *ngIf="
                editProfileForm.get('email')?.hasError('invalidEmailPattern')
              "
              >Invalid email format.</span
            >
          </div>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Phone number</mat-label>
          <input
            matInput
            formControlName="phoneNumber"
            placeholder="Enter your phone number"
          />
          <div
            *ngIf="!isFieldValid('phoneNumber')"
            class="text-red-600 text-sm mt-1"
          >
            <span
              *ngIf="
                editProfileForm
                  .get('phoneNumber')
                  ?.hasError('invalidNumberPattern')
              "
              >Only numbers allowed.</span
            >
          </div>
        </mat-form-field>

        <div *ngIf="editProfileForm.get('profilePicture')?.value" class="mb-2">
          <img
            [src]="editProfileForm.get('profilePicture')?.value | imagePreview"
            alt="Selected Image"
            class="w-24 h-24 rounded-full object-cover border"
          />
        </div>

        <div class="mb-4">
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="fileInput.click()"
          >
            Choose Profile Picture
          </button>
          <input
            #fileInput
            type="file"
            accept="image/*"
            (change)="onFileSelect($event)"
            class="hidden"
          />
        </div>

        <div class="flex justify-end gap-4 mt-4">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!editProfileForm.valid"
          >
            Save
          </button>
          <button
            mat-raised-button
            type="button"
            (click)="onFormReset()"
            color="secondary"
          >
            Cancel
          </button>
        </div>
      </form>

      <div
        *ngIf="loading$ | async"
        class="absolute inset-0 flex justify-center items-center z-20"
      >
        <mat-spinner></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>
</div>
